---
import { date } from "astro:schema";
import "../styles/global.css";
import { db, bill, payment } from 'astro:db';

//const { due, total, person } = Astro.props;

if (Astro.request.method === 'POST') {
  // Parse form data
  const formData = await Astro.request.formData();
  const due = new Date( formData.get('due') );
  const billCost = formData.get('cost');
  const isOpen = true;
  if (typeof due === Date() && typeof billCost === 'number' && typeof isOpen === 'boolean') {
    // Insert form data into the table
    await db.insert(bill).values({ due, billCost, isOpen });
  }
  const name = formData.get('name');
  const paymentCost = formData.get('cost');
  const isPaid = formData.get ('cost');
  if (typeof name === 'string' && typeof paymentCost === 'number' && typeof isPaid === 'boolean') {
    // Insert form data into the Comment table
    await db.insert(bill).values({ name, paymentCost, isOpen });
  }
}

//
const bills = await db.select().from(bill);
const payment = await db.select
---

<div class="w-full p-5 text-left flex flex-col">
  <div class="flex flex-row mb-5">
    <div class="grow">{due}</div>
    <div>Total: ${total}</div>
  </div>
  <table class="table-fixed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Paid</th>
      </tr>
    </thead>
    <tbody>
      {
        person.map(({ name, cost, paid }) => {
          return (
            <tr>
              <td>
                <input
                  class="w-25"
                  type="text"
                  id="name"
                  name="name"
                  value={name}
                />
              </td>
              <td>
                $
                <input
                  class="w-25"
                  type="number"
                  id="cost"
                  name="cost"
                  value={cost}
                />
              </td>
              <td>
                <input id="paidCheckbox" type="checkbox" class="w-4 h-4" checked = {paid} />
              </td>
            </tr>
          );
        })
      }
    </tbody>
  </table>
  <div class="flex flex-row">
    <div class="flex-grow"></div>
    <button
      class="m-3 center rounded-lg p-2 text-lg text-slate-800 bg-indigo-300"
    >
      <a href=""> Save </a>
    </button>
    <button class="m-3 center rounded-lg p-2 text-lg text-slate-800 bg-red-300">
      <a href=""> Delete</a>
    </button>
  </div>
</div>
